<!doctype html>
<html lang="pl">
  <head><meta charset="UTF-8" /><title><%= pageTitle %></title></head>
  <body>
    <h1>Wymagane logowanie</h1>
    <p>Aby wejść dalej, zaloguj się.</p>
    <a href="/login">Przejdź do logowania</a>
  </body>
</html>

