<!doctype html>
<html lang="pl">
  <head><meta charset="UTF-8" /><title><%= pageTitle || "404" %></title></head>
  <body>
    <h1>404</h1>
    <p>Nie znaleziono strony.</p>
    <a href="/">Powrót do strony głównej</a>
  </body>
</html>

